<h1><%= @greeting %></h1>

<p>
  Your order has been placed. Our administrations will soon contact you for your confirmation.
</p>
<p>
	You can also login to your account on our <a href="<%= root_url %>" target="_blank">Website</a> to check your order status.
</p>

<p>
	Thank you
</p>

