<h1><%= @greeting %></h1>

<p>
  Your order has been placed. Our Representative will be contacting you soon.
</p>
<p>
	You can also login to your account on our Website to check your order status.
</p>

<p>
	Thank you
</p>

