<h1><%= @greeting %></h1>

<p>
  Thank you for placing order. We welcome you with prompt services on Utility Navigator.
</p>
<p>
	We have generated a temporary password <strong><%= @pwd %></strong> for your account.
</p>
<p>
	Please login to your account on our <a href="<%= root_url %>" target="_blank">Website</a> and update your temporary password.
</p>

<p>
	Thank you
</p>

