<div class="modal fade" id="channel-list" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Channel List</h4>
      </div>
      <div class="modal-body">
        
        <!-- <table class="table table-striped">
          <thead>
            <tr>
              <th>Channels</th>
              <%# channel_names.each do |name| %>
                <th><%#= name %></th>
              <%# end %>
            </tr>
          </thead>
          <tbody>
            <%# channels.each do |channel| %>
              <tr>
                <td><%#= channel["channel_listing"] %></td>
                <% channel_names.each do |name| %>
                  <%# if name == channel["channel_provider"] %>
                    <td><i class="fa fa-check-circle-o"></i></td>
                  <%# else %>
                    <td></td>
                  <%# end %>
                <% end %>
              </tr>
            <%# end %>
          </tbody>
        </table> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-un" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>