<div class="row">
  <div class="col-md-4 seperator">
    <div class="row">
      <div class="col-md-12">
        <span class="package-type"><i class="fa fa-fw fa-check"></i> Triple Play</span>
        <ul class="list-inline pull-right">
          <li>
            <%= image_tag("icon-internet.png") %>
          </li>
          <li>
            <%= image_tag("icon-laptop.png") %>
          </li>
          <li>
            <%= image_tag("icon-mobile.png") %>
          </li>
        </ul>
        <span class="price">$89.97/Month</span>
        <ul class="list-unstyled">
          <li><i class="fa fa-check-circle-o fa-1x"></i> 125+ channels with FREE HDservice</li>
          <li><i class="fa fa-check-circle-o fa-1x"></i> Internet Speed up to 60 Mbps - HD Video Streaming</li>
          <li><i class="fa fa-check-circle-o fa-1x"></i> Unlimited Nationwide Calling</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4 seperator">
    <div class="row">
      <div class="col-md-12">
        <span class="package-type"><i class="fa fa-fw fa-gift"></i> Double Play</span>
        <ul class="list-inline pull-right">
          <li>
            <%= image_tag("icon-internet.png") %>
          </li>
          <li>
            <%= image_tag("icon-laptop.png") %>
          </li>
        </ul>
        <span class="price">$89.99/Month</span>
        <ul class="list-unstyled">
          <li><i class="fa fa-check-circle-o fa-1x"></i> 125+ channels with FREE HDservice</li>
          <li><i class="fa fa-check-circle-o fa-1x"></i>  Internet Speed up to 60 Mbps - Video Streaming</li>
          <li><i class="fa fa-check-circle-o fa-1x"></i> Spectrum App, 10,000+ On Demand</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4 seperator">
    <div class="row">
      <div class="col-md-12">
        <span class="package-type"><i class="fa fa-fw fa-compass"></i> Single Play</span>
        <ul class="list-inline pull-right">
          <li>
            <%= image_tag("icon-internet.png") %>
          </li>
        </ul>
        <span class="price">$39.99/Month</span>
        <ul class="list-unstyled">
          <li><i class="fa fa-check-circle-o fa-1x"></i> Internet Speed up to 60 Mbps - HD Video Streaming</li>
          <li><i class="fa fa-check-circle-o fa-1x"></i> Charter Security Suite included free - $60 Value</li>
          <li><i class="fa fa-check-circle-o fa-1x"></i> Free Access to all EPIX Online Content</li>
        </ul>
      </div>
    </div>
  </div>
</div>