<div class="row">
  <div class="col-md-4 seperator">
    <div class="row">
      <div class="col-md-12">
        <span class="package-type"><i class="fa fa-fw fa-check"></i> Triple Play</span>
        <ul class="list-inline pull-right">
          <li>
            <%= image_tag("icon-internet.png") %>
          </li>
          <li>
            <%= image_tag("icon-laptop.png") %>
          </li>
          <li>
            <%= image_tag("icon-mobile.png") %>
          </li>
        </ul>
        <span class="price">$89.99/Month</span>
        <ul class="list-unstyled">
          <li><i class="fa fa-check-circle-o fa-1x"></i> 220+ channels. Popular Channels</li>
          <li><i class="fa fa-check-circle-o fa-1x"></i> 50 Mbps. Serious Video streaming</li>
          <li><i class="fa fa-check-circle-o fa-1x"></i> Unlimited Local Calling</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4 seperator">
    <div class="row">
      <div class="col-md-12">
        <span class="package-type"><i class="fa fa-fw fa-gift"></i> Double Play</span>
        <ul class="list-inline pull-right">
          <li>
            <%= image_tag("icon-internet.png") %>
          </li>
          <li>
            <%= image_tag("icon-laptop.png") %>
          </li>
        </ul>
        <span class="price">$69.99/Month</span>
        <ul class="list-unstyled">
          <li><i class="fa fa-check-circle-o fa-1x"></i> 155+ channels. Hundreds of Channels including Local Channels.</li>
          <li><i class="fa fa-check-circle-o fa-1x"></i> 15 Mbps. Fast Browsing</li>
          <li><i class="fa fa-check-circle-o fa-1x"></i> 24/7 Live online sports coverage from ESPN3</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4 seperator">
    <div class="row">
      <div class="col-md-12">
        <span class="package-type"><i class="fa fa-fw fa-compass"></i> Single Play</span>
        <ul class="list-inline pull-right">
          <li>
            <%= image_tag("icon-internet.png") %>
          </li>
        </ul>
        <span class="price">$54.99/Month</span>
        <ul class="list-unstyled">
          <li><i class="fa fa-check-circle-o fa-1x"></i> 50 Mbps Download / 5 Mbps Upload</li>
          <li><i class="fa fa-check-circle-o fa-1x"></i> Serious Video streaming , online gaming</li>
          <li><i class="fa fa-check-circle-o fa-1x"></i> 50 Gb Cloud Storage</li>
        </ul>
      </div>
    </div>
  </div>
</div>