<div class="row">
  <div class="col-md-4 seperator">
    <div class="row">
      <div class="col-md-6 col-xs-6">
        <span class="package-type"><i class="fa fa-fw fa-check"></i> Triple Play</span>
        <span class="price">$44</span>
        <ul class="list-unstyled">
          <li><i class="fa fa-check-circle-o fa-1x"></i> 200 Channels</li>
          <li><i class="fa fa-check-circle-o fa-1x"></i> 15 Mbps Internet</li>
          <li><i class="fa fa-check-circle-o fa-1x"></i> Unlimited Calling</li>
        </ul>
      </div>
      <div class="col-md-6 ">
        <ul class="list-inline pull-right">
          <li>
            <%= image_tag("icon-internet.png") %>
          </li>
          <li>
            <%= image_tag("icon-laptop.png") %>
          </li>
          <li>
            <%= image_tag("icon-mobile.png") %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4 seperator">
    <div class="row">
      <div class="col-md-6 col-xs-6">
        <span class="package-type"><i class="fa fa-fw fa-gift"></i> Double Play</span>
        <span class="price">$40</span>
        <ul class="list-unstyled">
          <li><i class="fa fa-check-circle-o fa-1x"></i> 200 Channels</li>
          <li><i class="fa fa-check-circle-o fa-1x"></i> 15 Mbps Internet</li>
          <li><i class="fa fa-check-circle-o fa-1x"></i> Internet Security</li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="list-inline pull-right">
          <li>
            <%= image_tag("icon-internet.png") %>
          </li>
          <li>
            <%= image_tag("icon-laptop.png") %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4 seperator">
    <div class="row">
      <div class="col-md-6 col-xs-6">
        <span class="package-type"><i class="fa fa-fw fa-compass"></i> Single Play</span>
        <span class="price">$35</span>
        <ul class="list-unstyled">
          <li><i class="fa fa-check-circle-o fa-1x"></i> 15 Mbps Internet</li>
          <li><i class="fa fa-check-circle-o fa-1x"></i> Stream</li>
          <li><i class="fa fa-check-circle-o fa-1x"></i> Play</li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="list-inline pull-right">
          <li>
            <%= image_tag("icon-internet.png") %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>