<div class="container">
	<div id="privacy_and_terms">
		<h2 class="page-header text-center">
			<i class="fa fa-quote-left fa-1x fa-border comma-left" aria-hidden="true"></i> Privacy Policy <i class="fa fa-quote-right fa-1x fa-border comma-right" aria-hidden="true"></i>
		</h2>
		<h4>Information Collected:</h4>
		<p>
			www.utilitynavigators.com collects your information in accordance with the requirements 

			of reserving your service with the service provider. Information collected may include 

			your name, contact #, email, address, driver’s license, SSN etc. The information is 

			required to process &amps; place your service request only as required by the service 

			provider.
		</p>

		<h4>How do we use your Information: </h4>

		<p>
			The information collected by www.utilitnavigators.com is solely used to communicate 

			with you regarding your service request, order status or service selected. The 

			communication may include phone call, email or text notification. You may receive 

			occasional promotional offer. You have the right to opt out of promotional offers & 

			emails.
		</p> 

		<h4>Protection of Your Data:</h4>

		<p>
			www.utilitynavigators.com does not share your personal data with any third party, 

			affiliates &amp; other businesses. Your data is not used for any marketing other than offers 

			related to the service you showed interest in. www.utilitynavigators.com is a secure 

			website secured by Norton Symentac SSL/TSL certificates.
		</p>
	</div>
	
</div>