<div class="container">
	<div id="privacy_and_terms">
		<h2 class="page-header text-center">
			<i class="fa fa-quote-left fa-1x fa-border comma-left" aria-hidden="true"></i> Terms &amp; Conditions <i class="fa fa-quote-right fa-1x fa-border comma-right" aria-hidden="true"></i>
		</h2>
		<blockquote>
			These terms and conditions govern your use of this website at 

			www.utilitynavigators.com. These terms and conditions also apply to all of the sub-

			domains / pages within www.utilitynavigators.com
		</blockquote>

		<h4>Age</h4>
		<p>
			You must be 18 years or older to be able to place a service request on 

			www.utilitynavigators.com.
		</p>

		<h4>Address</h4>
		<p>
			All service requests must be for a valid US address. If an address is not 

			verified by www.utilitynavigators.com address lookup, we will not be abe to cater your 

			service request.
		</p> 

		<h4>Personal Information</h4>
		<p>
			We normally collect personal information such as your 

			complete name, address, driver’s license, SSN, contact number etc. All of the collected 

			information is required by the service provider to process your order. 

			www.utilitynavigators.com does not use your personal information for any other 

			purpose. Your information is not shared with any 3rd party , other businesses etc. 
		</p>
		<h4>Cookies</h4>
		<p>www.utilitynavigators.com does not collect any Cookies on its own. Your 

			internet browser (Internet Explorer, Chrome , Firefox etc.) may collect cookies to 

			improve your browsing experience. 
		</p>

		<h4>Your Internet, Phone &amp; Cable Service</h4>
		<p>
			www.utilitynavigators.com is an authorized 

			retailer of internet, phone &amp; cable services &amp; serves as a concierge service. You are 

			never asked to pay anything to  www.utilitynavigators.com. Your service contract will be 

			directly with the service provider. In case of any change in the service, service 

			interruption, problems in your service, you will contact directly the service provider.
		</p>
		 
		<h4>Prices and Availability</h4>
		

		<p>
			Prices and availability of services &amp; products are subject to change without notice. We 

			constantly update our prices &amp; they reflect the prices of the service providers. The 

			prices &amp; availability may differ on your address. Before we book the service, the exact 

			price will be communicated to you via phone / email. We book the service only after you 

			agree with the price.
		</p> 

		<p>
			We reserve the right to revoke /change any offering and to correct any errors. You have 

			no obligation to use www.utilitynavigators.com or to contract with the service providers 

			whose services are displayed on www.utilitynavigators.com.  Please note that the 

			service providers are not obligated to offer their products or services on 

			www.utilitynavigators.com.
		</p>
	</div>
</div>