// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  // @extend .container;
  // background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  min-height: 470px;
  // margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

.btn-un {
  background-color: #9932cc;
  color: #fff;
  font-weight: bold;
}

.panel-un {
  border-color: rgba(74, 6, 109, 0.78);
  .panel-heading {
    color: #FFFFFF;
    background-color: rgba(168, 76, 214, 0.78);
    border-color: rgba(74, 6, 109, 0.78);
  }
}
