// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  // @extend .container;
  // background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  min-height: 570px;
  // margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

.btn-un {
  background-color: #9932cc;
  color: #fff;
  font-weight: bold;
  &:hover {
    color: #FFF;
    background-color: #C58CDC;
    border: 2px solid #AA49D0;
  }
}
.btn-un.disabled:hover, .btn-un.disabled:focus, .btn-un.disabled.focus, .btn-un[disabled]:hover, .btn-un[disabled]:focus, .btn-un[disabled].focus, fieldset[disabled] .btn-un:hover, fieldset[disabled] .btn-un:focus, fieldset[disabled] .btn-un.focus {
    background-color: #C58CDC;
    border: 2px solid #AA49D0;
    color: #FFF;
}


.panel-un {
  border-color: rgba(74, 6, 109, 0.78);
  .panel-heading {
    color: #FFFFFF;
    background-color: rgba(168, 76, 214, 0.78);
    border-color: rgba(74, 6, 109, 0.78);
  }
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: #9932CC;
  border-color: #702496;
}
.pagination > li > a, .pagination > li > span {
  color: #9932CC;
}

.bs-callout-danger {
  border-left-color: #ce4844 !important;
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #F8F8F8;
    color: #9932CC;
}
