
/*
 *= require froala_editor.min.css
 *= require froala_style.min.css
 *= require font-awesome
 *= require plugins/char_counter.min.css
 *= require plugins/fullscreen.min.css
 *= require plugins/image_manager.min.css
 *= require plugins/image.min.css
 *= require plugins/line_breaker.min.css
 *= require plugins/quick_insert.min.css
 *= require plugins/table.min.css
 */
fieldset.package-products {
	padding: 11px 0px 11px 0px;
  border-radius: 5px;
}
fieldset.package-products > legend {
  padding-left: 8px;			
}

.product-validate {
  border-left: 2px solid #F56262 !important;
  padding: 3px 0px 2px 5px !important;
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 3px;
}
li.product-errors {
	font-weight: bold;
}

table td.fields, th.fields {
  text-align: center;
}

#package_description_input {
  margin-left: 302px;
}

#package_promotions_input {
  margin-left: 302px;
}

.pending {
  background: #ADAE6B !important;
}
.declined {
  background: #D14D4D !important;
}

.unspaced {
  margin-top: 0px;
  margin-bottom: 0px;
}

.admin_checkout_price {
  margin-left: 20%;
  margin-top: 15px;
}

form input[type=text], form input[type=password], form input[type=email], form input[type=number], form input[type=url], form input[type=tel], form input[type=date], form textarea {
  width: calc(100% - 22px);
}