header {
	margin-bottom: 20px;
}

// Visitors

#visitors {
	.price {
		font-size: 20px;
	}

	@media (min-width: 768px) {
		.form-inline .form-control {
			width: 100%;
		}
	}

	.search-inputs {
		margin-bottom: 10px;
	}
}