<!-- Footer -->
<footer>
	<div class="well">
		<div class="row">
			<div class="col-md-3">
				<p class="footer-logo">Utility Navigator</p>
				<strong>&copy; All Rights Reserved</strong>
			</div>
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-9">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
					</div>
					<div class="col-md-3">
						<a class="btn btn-lg btn-warning btn-block" href="#">Request Call Back</a>
					</div>
				</div>
				<hr />
				<ul class="list-inline">
					<li><a href="#">TWS</a></li>
					<li><a href="#">COX</a></li>
					<li><a href="#">CHARTER</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

